.instagram{
    color: #C13584;
}
.linkedin{
    color:#0072b1;
}
.twitter{
    color :#1DA1F2;
}
.github{
    color:#171515;
}
.resume{
    color:#006eff;
}
.contact{
    color:#7104ca;
}
.settings{
    color:#2bd815;
}